<div class="main">
    <div class="mt-0 text-center">
        <img class="w-100" src="/public/images/About.png" alt="">
    </div>
</div>

<div class="about-wrapper row mt-1 mb-2">
    <div class="container col-sm-5 col-md-6">
        <h4 class="mt-3 text-center">『Overwrite』とは</h4>
        <p class="p-3"><br>
        『Overwrite』はDM（ダイレクトメッセージ）やメールを送る際の文書作成をサポートする、ゲーマー向けのWEBアプリケーションです。<br>
        <br>
        近年、ゲーム実況やeSportsなど、ゲームをプレイすることが仕事になる文化が定着してきました。<br>
        多様性のある働き方が浸透するということは非常に良いことであると開発者は考えています。<br>
        <br>
        しかし、個人で仕事をするということは、一般企業に属さないということになるため、ビジネスマナー習得の機会を逸してしまうことも珍しくありません。<br>
        <br>
        そこで、『Overwrite』はメディア対応や企業への連絡、ゲーム実況主同士でDMを送るときなど、シチュエーションに分けたメッセージテンプレートを用意いたしました。<br>
        送りたい種類のメッセージテンプレートを選択し、宛名などの変更が必要な箇所を「上書き」するだけで、ビジネス文書が完成します。<br>
        <br>
        <b>※コミュニケーションは文章だけでは決まりません。</b><br>
        しかし、文章が相手に与える印象は絶大です。そのため、上書きした文章を読み直し、ご自身に合った内容に修正することを忘れないようにしましょう。<br>
        あくまでも本サービスは文書作成サポートです。相手との良好な関係を保障するものではありません。
        </p>
        <h4></h4>
        <p class="border shadow m-t-3"></p>
        <h4 class="text-center m-t-1">どんな時に使うのか</h4>
        <p class="p-3">『Overwrite』は、企業やメディアの方とのやり取りなど、ビジネスの機会において「どのような言葉遣いで文書を作ればいいのか分からない」といった場合のサポートを想定しています。<br>
        <br>
        ・せっかく、有名なゲームメディアから取材が来たのに、どのような返信を送ればいいのかわからない！<br>
        ・いつも、いきなり本文から書いてしまっている！<br>
        ・メールの冒頭部のお決まりの挨拶が分からない！<br>
        <br>
        こうした場合、いくつかのテンプレートを眺めていただくだけで、コツが掴めてくると思われます。<br>
        <br>
        私自身もビジネスメールの執筆が苦手で、ビジネスの機会が怖く、人付き合いも苦手なので、メールを送る際にはこのようなテンプレートを用意してコピー＆ペーストすると気が楽になります。<br>
        <br>
        『Overwrite』が才能豊かなゲーマーの方々のお役に立てば嬉しく思います。
        ぜひ、お試しいただければ幸いです。        
    </div>
</div>