<% let welcome = "ユーザーの皆さま\n\nこのたびは、『Overwrite』をご利用いただきありがとうございます。\n\n『Overwrite』とはゲーマー向けのメッセージ作成のサポートをおこなうWEBアプリケーションです。\n送りたい種類のテキストテンプレートを選択し、宛名など変更が必要な情報を上書きするだけで丁寧な文章を作ることができます。\n本サービスの利用は無料であり、作成したメッセージも自由に使用できます。\n\n近年、ゲーム実況主やプロゲーマーなど、社会経験を必要としない自由な働き方が増えてきました。\nしかし、チャンネルやチームの規模が大きくなるとメディアや企業とのやり取りも出てきます。\nそんなとき、ビジネスマナーの欠如したメッセージを送ってしまうと、せっかくの仕事の機会も失ってしまうかもしれません。\n\n『Overwrite』は海外のゲーム開発者と契約中のフリーランス広報が制作いたしました。\n至らない点もあるかと存じますが、今後ともよろしくお願い申し上げます。" %> 
<div class="main">
    <div class="mr-0 text-center">
        <img class="img-fluid" src="/public/images/Overwrite.png" alt="">
    </div>
</div>
    
<div class="row mr-0 ml-0 text-center justify-content-center">
    <div class="mr-0 ml-0 col-md-8 col-lg-6">
        <h1 class="mt-5 mr-0 ml-0">Overwrite</h1>
        <p class="text-center mr-0">
            <s>信頼 <b>＝</b> フォロワー数</s>
            <br>届ける言葉はバズらなくていい。
        </p>
        <form class="form-group m-0 mr-0 ">
            <br>
            <textarea class="form-control p-3 mt-0" name="welcome" rows="20" cols="0"><%= welcome  %></textarea>
            <br>
        </form>
    </div> 
</div>

