<body>
    <div class="main">
        <div class="mt-0 text-center">
            <img class="img-fluid w-100" src="/public/images/Overwrite.png" alt="">
        </div>
    </div>

    <div class="overwrite-wrapper mt-5 row">            
        <div class="container text-center col-md-6 col-sm-5">
            <h4 class="mb-2">テンプレートの選択</h4>
            <p class="mt-3">送りたいメッセージの<br>
                テンプレートを選択してください。</p>
            <form action="/template" method="GET" class="p-sm-3">
                <p class="bg-info text-white">■ゲーム実況コラボ・提案</p>
                <table class="table mt-3">
                    <tr><td>文書名</td><td>ゲーム実況<br>コラボレーション提案</td></tr>
                    <tr><td>種類</td><td>DM</td></tr>
                    <tr><td>シーン</td><td>相手方との面識なし</td></tr>
                    <tr><td>作成</td><td><button type="submit" name="name" value="templateID-1" class="btn btn-outline-success">メッセージ作成</button></td></tr>
                </table>
                
                <p class="bg-info text-white">■ゲーム実況コラボ・返信</p>
                <table class="table mt-4">
                    <tr><td>文書名</td><td>ゲーム実況<br>コラボ提案への返事</td></tr>
                    <tr><td>種類</td><td>DM</td></tr>
                    <tr><td>シーン</td><td>相手方との面識なし</td></tr>
                    <tr><td>作成</td><td><button type="submit" name="name" value="templateID-2" class="btn btn-outline-success">メッセージ作成</button></td></tr>
                </table>
                
            </form>
        </div>
        <p></p>
    </div>
</body>